html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.mapcss #mapwrap {
  position: relative;
  overflow: hidden;
}

.mapcss .category,
.mapcss .category * {
  margin: 0;
  padding: 0;
  color: #000;
}

.mapcss .category {
  position: absolute;
  overflow: hidden;
  top: 10px;
  left: 10px;
  width: 150px;
  height: 50px;
  z-index: 10;
  border: 1px solid black;
  font-family: "Malgun Gothic", "맑은 고딕", sans-serif;
  font-size: 12px;
  text-align: center;
  background-color: #fff;
}

.mapcss .category .menu_selected {
  background: #ff5f4a;
  color: #fff;
  border-left: 1px solid #915b2f;
  border-right: 1px solid #915b2f;
  border-bottom: 1px solid #915b2f;
  border-top: 1px solid #915b2f;
  margin: 0 -1px;
}

.mapcss .category li {
  list-style: none;
  float: left;
  width: 50px;
  height: 45px;
  padding-top: 5px;
  cursor: pointer;
}

.mapcss .category .ico_comm {
  display: block;
  margin: 0 auto 2px;
  width: 35px;
  height: 22px;
  background: url("../image/category.png") no-repeat;
}

.mapcss .category .ico_fast {
  background-position: -1px 0;
}

.mapcss .category .ico_slow {
  background-position: -1px -36px;
}

.mapcss .category .ico_both {
  background-position: -1px -72px;
}

/* #region 꺾은선 스타일 */
.barcss .zoom {
  cursor: move;
  fill: none;
  pointer-events: all;
}

.barcss .brush {
  opacity: 0.7;
  color: "gray";
}

.barcss path.domain {
  fill: none;
  stroke: none;
}

.barcss .tick line {
  opacity: 0.1;
}

/* #endregion */

.linebarcss #name {
  left: 0;
  top: 0;
}

.linebarcss body {
  margin: 0;
}

.linebarcss .axis text {
  fill: #888;
  font-size: 11px;
}

.linebarcss .axis line {
  stroke: #888;
}

.linebarcss .axis path {
  stroke: #888;
}

.linebarcss .bar rect {
  fill: #a9c9f7;
}

.linebarcss .slider {
  width: 800px;
}

#container {
  position: absolute;
  width: 500px;
  height: 500px;
  margin: 0;
  padding: 0;
  top: 450px;
  left: 605px;
}
head {
  position: relative;
}
/* --------------------------- */
.radar td,
th {
  border: 1px solid black;
  width: 220px;
  height: 60px;
}
.radar td {
  display: flex;
  align-items: center;
  justify-content: center;
}
.radar table {
  border: 1px solid black;
  position: absolute;
  top: 2%;
  left: 33%;
  z-index: 9999;
  font-size: 20px;
}
/* --------------------------- */
#radar_wrapper {
  border: 4px double black;
  position: absolute;
  width: 450px;
  height: 580px;
  left: 628px;
  top: 440px;
  z-index: 9998;
}
.radar #select_box {
  display: flex;
  margin-bottom: 10px;
  width: 320px;
  height: 40px;
  top: 200px;
  font-size: 20px;
}
.radar button {
  width: 105px;
  height: 40px;
  font-size: 20px;
}
.radar form {
  position: absolute;
  z-index: 9999;
  left: 690px;
  top:950px;
  padding: 10px;
  border: 4px double black;
}